
	
	body
	{
		background-color: #ffffff;
		margin:none;
		padding:none;
	}
	
	div.wrapper
	{
		width:100%;
		height:auto;
		margin:none;
		padding:none;
		border:none;
		background: transparent;
	}
	
	div.header
	{
		width:100%;
		background-image:  url("/images/tpbanner.jpg");
		background-repeat: no-repeat;
		background-position: center; 
		height: auto;
		
	}
	
	 div.logobox
	{
		width: 10em;
		height: 10em;
		display:table-cell;
	}
	
	img.logo 
	{
		max-width: 100%;
	}
		.map
		{
        height: 30em;
        width: 100%;
		padding-bottom: 2em;
     }
	
	
	 div.pagetop
	{
		width:90%;
		display:table-cell;
	}
	
	
	.boxer {
	display: table;
	border-collapse: collapse;
	}
 
	.boxer .box-row {
	display: table-row;
	}
 
	.boxer .box {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	border: 0;
	}

	.boxer .boxmap {
	display: table-cell;
	text-align: left;
	vertical-align: top;
	border: 0;
	width:100%;
	}
	img.socshare
	{
		width: 4%;
		height: 7%;
	}

	
	.demoHeaders {
		margin-top: 2em;
	}
	

	
	
	#dialog-link 
	{
		padding: .4em 1em .4em 20px;
		text-decoration: none;
		position: relative;
	}
	
	#dialog-link span.ui-icon 
	{
		margin: 0 5px 0 0;
		position: absolute;
		left: .2em;
		top: 50%;
		margin-top: -8px;
	}
	
	#icons
	{
		margin: 0;
		padding: 0;
	}
	#icons li 
	{
		margin: 2px;
		position: relative;
		padding: 4px 0;
		cursor: pointer;
		float: left;
		list-style: none;
	}
	
	#icons span.ui-icon
	{
		float: left;
		margin: 0 4px;
	}
	
	.fakewindowcontain .ui-widget-overlay
	{
		position: absolute;
	}
	
	select 
	{
		width: 200px;
	}

	
	div.footer
	{
		background-image:  url("images/banner.jpg");
		background-repeat: no-repeat;
		background-position: center; 
		height: 416px;
		padding-left:none;
		padding-right:none;
		margin-top: 3em;
		display: block;
		margin-left:15%;
		margin-right:15%;
	}
	
	div.pagefooter 
	{
		display:block;
		float: bottom;
		z-index: -1;
		padding: 10px;
		border: 5px solid gray;
		
	}